body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #333333;
}


.wrapper {
    background-color: #FED100;
    display: flex;
    min-height: 650px;
    overflow: hidden;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 85px;
}
.header {
}
.container {
    max-width: 1312px;
    margin: 0px auto;
    padding: 0px 14px;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #333333;
}
.header__burger {
    display: none;
}
.header__menu {
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 50px;
}
.menu__link {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}
.header__number {
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}


.banner {
    position: relative;
    margin-top: 64px;
}

.banner__row {
    width: 547px;
    position: relative;
    /* display: flex;
    flex-direction: column; */
}
.banner::before {
    content: url('../img/man.png'); /* Укажите путь к вашему изображению */
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
}
.banner__title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}
.banner__title span {
    font-size: 30px;
    font-weight: 600;
}
/* .banner__subtitle {
} */
.banner__img {
    display: none;
}
.banner__button {
    position: relative;
    margin-bottom: 74px;
}
.banner__btn {
    position: relative;
    width: 304px;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 95px;
    background-color: #FF352B;
    color: #fff;
    z-index: 10;
    transition: 0.3s ease-in;
}
.banner__shadow {
    position: absolute;
    z-index: 1;
    width: 304px;
    height: 60px;
    border: #fff 2px solid;
    top: 10px;
    left: 10px;
    bottom: 0;
    transition: 0.3s ease-in;
}
.banner__btn:hover {
    background-color: #FF772B;
}
.banner__btn:hover ~ .banner__shadow {
    background-color: #fff;
}

.banner__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.description__block {
    display: flex;
    gap: 10px;
}
.description__img {
}
.description__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}


.process {
    margin-top: 96px;
}
.process__wrapper {
    max-width: 1105px;
    margin: 0 auto;
}
.process__title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.process__row {
    margin-top: 60px;
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr;
}


.process__block {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
}
.process__block__number {
    font-size: 50px;
    font-weight: 300;
    text-shadow: 1px 1px 2px #FED100;
}
.process__block__text {
}
.process__block__title {
    font-size: 20px;
    font-weight: 500;
}
.process__block__subtitle {
    margin-top: 16px;
}
.display-block {
    display: block;
}


/* Price */



.price {
    margin-top: 102px;
    padding-bottom: 102px;
}

.price__wrapper {
}
.price__title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.price__subtitle {
    margin-top: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.price__row {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.price__apartment {
    width: 421px;
    height: 579px;
    padding: 84px 80px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: #EBEBEB 1px solid;
}
.apartment-active {
    border: #FED100 1px solid;
}
.apartment__title {
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: 60px; */
}

.apartment__enum {
    text-align: center;
}
.apartment__van,
.apartment__movers { 
    margin-bottom: 26px;
}
.apartment__price {
    font-size: 30px;
    font-weight: 600;
    /* margin-bottom: 51px; */
}
.apartment__btn {
    color: #151515;
}
.price__all {
    display: none;
}




.auto {
    padding-bottom: 46px;
}
.auto__wrapper {
    max-width: 1221px;
}
.auto__title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.auto__subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
.auto__buttons {    
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.auto__btn {
    background-color: #fff;
    border: 1px solid #EBEBEB;
    padding: 13px 64px;
    font-size: 20px;
    font-weight: 500;
}

.auto__btn-active {
    border: 1px solid #FED100
}
.auto__park {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 46px;
}
.auto__park::after {
    content: url(../img/svg/hide-list.svg);
    transform: rotate(-90deg);
    cursor: pointer;
}
.auto__park::before {
    content: url(../img/svg/hide-list.svg);
    transform: rotate(90deg);
    cursor: pointer;
}
.park__info {
}
.park__title {
    margin-bottom: 38px;
    font-size: 24px;
    font-weight: 600;
}
.park__info__items {
    
}
.park__info__item {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    /* list-style-image: url(../img/svg/checkIcon.svg); */
    /* padding-left: 16px; */
}
.park__info__item::before {
    content: url(../img/svg/checkIcon.svg);
    margin-right: 16px;
}
.park__info__item:last-child{
    margin-bottom: 34px;
}
/* .park__btn {
}

.park__car {
} */





/* Style */

.btn__style {
    background-color: #FED100;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 79px;
}

.btn__style:hover {
    box-shadow: 0px 4px 24px 0px #FED100;
    color: #fff;
}

@media (max-width: 1312px) {
    .container {
        max-width: 1000px;
    }

    .price__row {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 970px;
    }
    .header__number {
        font-size: 15px;
    }
    .menu__link  {
        font-size: 14px;
    }
    
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .banner::before {
        display: none;
    }


    /* Auto */

    .auto__park {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 46px;
    }

    .auto__btn {
        border: 0px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        padding: 0;
        font-size: 24px;
    }
    
    .auto__btn-active {
        border-bottom: 1px solid #FED100;
    }


    .auto__park::after,
    .auto__park::before {
        display: none;
    }
    .park__title {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 24px;
    }
    .park__info__items {
        display: none;
    }
    .park__car {
        max-height: 366px;
        width: auto;
    }

    .slider {
        text-align: center;
        margin-bottom: 28px;
    }

    .slider input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        background-color: transparent;
    }
    
    .slider input[type="radio"]::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #333333; 
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .slider input[type="radio"]:checked {
        border: 2px solid #FED100; 
        border-radius: 50%;
    }
    
    .slider input[type="radio"]:checked::before {
        background-color: #333333; 
    }
       

}

@media (max-width: 767px) {
    .container {
        max-width: 707px;
    }
    .header__number,
    .header__menu {
        display: none;
    }
    .header__logo {
        font-size: 36px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 46px;
        height: 28px;
    }
    .header__burger span {
        position: absolute;
        background-color: #333333;
        left: 0;
        width: 100%;
        height: 2px;
        top: 13px;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #333333;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }

    .banner {
        margin-top: 48px;
    }

    .banner__button::before {
        content: url('../img/man-big.png'); 
        position: absolute;
        display: block;
        left: 0; 
        bottom: 50%;
    }

    .banner__img {
        display: block;
        height: 510px;
    }

    .banner__row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .banner__title {
        text-align: center;
        font-size: 56px;
        margin: 0;
    }
    .banner__title span {
        font-size: 36px;
    }
    .banner__btn {
        font-size: 30px;
    }
    .banner__shadow {
        top: 20px;
        left: 10px;
    }

    .banner__description {
        justify-content: space-around;
    }


    /* Process */

    .process {
        padding-bottom: 205px;
    }
    .process__row {
        grid-template-columns: 1fr;
    }

    .process__block__number {
        font-size: 90px;
    }
    .process__block__title {
        font-size: 24px;
    }



    /* Price */

    .price {
        background-color: #F8FBFF;
        padding-top: 60px;
        padding-bottom: 115px;
        margin: 0;
    }
    .price__row {
        margin-top: 45px;
        gap: 28px;
    }

    .price__apartment {
        border: #EBEBEB 0px solid;
        display: none;
        padding: 0;
        height: 485px;
        width: 0;
    }
    .apartment-active {
        display: block;
        width: 272px;
        /* padding: 84px 80px 80px; */
        display: flex;
        gap: 0;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .apartment__title {
        font-size: 24px;
    }
    .apartment__van,
    .apartment__movers,
    .apartment__removal {
        font-size: 18px;
    }
    .btn__style {
        font-size: 28px;
        padding: 23px 114px 18px;
    }
    .price__all {
        display: block;
        font-size: 25px;
        font-weight: 500;
        position: relative;
        text-align: center;
    }
    .price__all::after {
        content: "";
        width: 148px;
        height: 1px;
        background-color: #333333;
        top: 0;
        display: block;
        margin-top: 10px;
        /* position: absolute; */
    }


    /* auto */

    .auto__title {
        margin-top: 84px;
    }
}
@media (max-width: 560px) {
    .container {
        max-width: none;
    }
    .banner__description {
        display: none;
    }
    .banner__button {
        margin: 0;
    }

    .banner__title {
        font-size: 42px;
    }
    .banner__title span {
        font-size: 26px;
    }



    /* Process */


    .process__block__number {
        font-size: 40px;
    }
    .process__block__title {
        font-size: 20px;
    }


    /* Price */

    .price {
        padding-bottom: 31px;
    }
    
    .btn__style {
        font-size: 20px;
        padding: 20px 90px 18px;
    }


    /* Auto */

    .auto__title {
        font-size: 20px;
    }
    .auto__subtitle {
        font-size: 16px;
    }
    .auto__btn {
        font-size: 14px;
    }
    .park__title {
        font-size: 12px;
    }
    .park__car {
        max-height: 213px;
        width: auto;
    }
}

@media (max-width: 319px) {
    .container {
        max-width: none;
    }
    .header__logo {
        font-size: 16px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 32px;
        height: 19px;
    }
    .header__burger span {
        top: 8.5px;
    } 


    .banner__shadow {
        display: none;
    }
    .banner__btn {
        font-size: 20px;
        width: 292px;
    }
    .banner__title {
        font-size: 28px;
    }
    .banner__title span {
        font-size: 18px;
    }
    .banner__button::before {
        content: url('../img/man-little.png'); 
        /* width: 248px;
        height: auto; */
    }
    .banner__img {
        height: 336px;
    }


    /* Process */


    .process__block__number {
        font-size: 50px;
    }
    .process__block__title {
        font-size: 16px;
    }

    .process__block {
        position: relative;
        grid-template-columns: 61px 1fr;
        gap: 8px;
    }
    .display-block {
        display: none;
    }

    .process__block::before {
        content: url("../img/svg/hide-list.svg");
        position: absolute;
        right: -4px;
        top: 0;
    }


    /* Price */

    .price {
        padding-bottom: 31px;
    }
    .price__apartment {
        height: 372px;
    }
    .apartment__title {
        font-size: 18px;
        font-weight: 500;
    }
    .apartment__van,
    .apartment__movers,
    .apartment__removal {
        font-size: 16px;
        /* font-weight: 400; */
    }
    .btn__style {
        font-size: 20px;
        padding: 17px 90px;
    }
    .price__all {
        display: block;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        text-align: center;
    }

    
    /* auto */

    .park__car {
        max-height: 190px;
        width: auto;
    }
}